<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="utf-8">
</head>
<style>
    .wrapper {
    text-align: center;
}
</style>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
            </div>
        </div>
    </nav>
    <br><br>
    <h3 style="text-align: center;"><b>End Semester Evaluations</b></h3>
    <br><br>

    <form>
        <h4 style="text-align: center;">Member1- <%= member1 %></h4>
        <% for (var i = 0; i <  fields.length; i++) { %>
            <h4><%= fields[i] %><h4>
            <input type="text" /><br />
        <% } %>
        <div class="form-group">
            <h4 for="comment">Comment:<<h4>
            <textarea class="form-control" rows="5" id="comment"></textarea>
        </div>
        <br><br>
        <h4 style="text-align: center;">Member2- <%= member2 %></h4>
        <% for (var i = 0; i <  fields.length; i++) { %>
            <h4><%= fields[i] %><h4>
            <input type="text" /><br />
        <% } %>
        <div class="form-group">
            <h4 for="comment">Comment:<h4>
            <textarea class="form-control" rows="5" id="comment"></textarea>
          </div>
        <br><br>
        <h4 style="text-align: center;">Member3- <%= member3 %></h4>
        <% for (var i = 0; i <  fields.length; i++) { %>
            <h4><%= fields[i] %><h4>
            <input type="text" /><br />
        <% } %>
        <div class="form-group">
            <h4 for="comment">Comment:<h4>
            <textarea class="form-control" rows="5" id="comment"></textarea>
          </div>
        <br><br>
        <% if(member4!="None") { %>
            <h4 style="text-align: center;">Member4- <%= member4 %></h4>
            <% for (var i = 0; i <  fields.length; i++) { %>
                <h4><%= fields[i] %><h4>
                <input type="text" /><br />
            <% } %>
            <div class="form-group">
                <h4 for="comment">Comment:<h4>
                <textarea class="form-control" rows="5" id="comment"></textarea>
              </div>
        <% } %>
        <div class="wrapper">
            <button class="btn btn-success">Submit</button>
        </div>
 </form>
</body>
</html>