<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="utf-8">
    <style>
      body {
        font-family: Arial, Helvetica, sans-serif;
      }
      * {
        box-sizing: border-box;
      }
      /* style the container */
      .container {
        position: relative;
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px 0 30px 0;
      }
      /* style inputs and link buttons */
      input,
      .btn {
        width: 33%;
        padding: 12px;
        border: none;
        border-radius: 4px;
        margin: 5px 0;
        opacity: 0.85;
        display: inline-block;
        font-size: 17px;
        line-height: 20px;
        text-decoration: none;
        /* remove underline from anchors */
      }
      input:hover,
      .btn:hover {
        opacity: 1;
      }
      /* add appropriate colors to fb, twitter and google buttons */
      .fb {
        background-color: #3B5998;
        color: white;
      }
      .twitter {
        background-color: #55ACEE;
        color: white;
      }
      .google {
        background-color: #dd4b39;
        color: white;
      }
      /* style the submit button */
      input[type=submit] {
        background-color: #4CAF50;
        color: white;
        cursor: pointer;
      }
      input[type=submit]:hover {
        background-color: #45a049;
      }
      /* Two-column layout */
      .col {
        float: left;
        width: 50%;
        margin: auto;
        padding: 0 50px;
        margin-top: 6px;
      }
      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
      /* vertical line */
      .vl {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        border: 2px solid #ddd;
        height: 175px;
      }
      /* text inside the vertical line */
      .vl-innertext {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: #f1f1f1;
        border: 1px solid #ccc;
        border-radius: 50%;
        padding: 8px 10px;
      }
      /* hide some text on medium and large screens */
      .hide-md-lg {
        display: none;
      }
      /* bottom container */
      .bottom-container {
        text-align: center;
        background-color: #666;
        border-radius: 0px 0px 4px 4px;
      }
      /* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
      @media screen and (max-width: 650px) {
        .col {
          width: 100%;
          margin-top: 0;
        }
  /* hide the vertical line */
        .vl {
          display: none;
        }
    /* show the hidden text on small screens */
        .hide-md-lg {
          display: block;
          text-align: center;
        }
      }
    </style>
    <script>
      function midEval(i){
        var param="<%= teamNames %>";
        param1=param.split(',');
        param2=param1[i];
        url="http://localhost:8081/midsemEval/"+param2;
        window.location=url;
      }
      function endEval(i){
        var param="<%= teamNames %>";
        param1=param.split(',');
        param2=param1[i];
        url="http://localhost:8081/endsemEval/"+param2;
        window.location=url;
      }
    </script>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
        </div>
      </div>
    </nav>
    <br><br>
    <h1 style="text-align: center;">Major Project Teams</h1>
    <br><br>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Member1</th>
          <th scope="col">Member2</th>
          <th scope="col">Member3</th>
          <th scope="col">Member4</th>
          <th scope="col">Mid Evaluation</th>
          <th scope="col">End Evaluation</th>
          <th scope="col">Delete Team</th>
        </tr>
      </thead>
      <tbody>
        <% for (var i = 0; i <  teamNames.length; i++) { %>
        <tr>
         
         
          <td value="<%= teamNames[i] %>"><%= teamNames[i] %></td>
          <td value="<%= member1[i] %>"><%= member1[i] %></td>
          <td value="<%= member2[i] %>"><%= member2[i] %></td>
          <td value="<%= member3[i] %>"><%= member3[i] %></td>
          <td value="<%= member4[i] %>"><%= member4[i] %></td>

       
          <td><button class="btn btn-success"  id="<%= i %>" onclick="midEval(this.id)">Mid Eval</button></td>
          <td><button  id="<%= i %>"  class="btn btn-success" onclick="endEval(this.id)">End Evaluation</button></td>
          <td><button type="button" class="btn btn-danger">Delete Team</button></td>
        </tr>
        <% } %>
      </tbody>
    </table>
    <button class="btn btn-success"  onclick="addTeam()">Add Team</button>
    <button type="button" class="btn btn-primary">Seminar</button>
    <button type="button" class="btn btn-primary">Minor Project</button>
  </body>  
  <script>
    function addTeam(){
      window.location = "http://localhost:8081/addMajorTeam";
    }
  </script>
</html>
